
<% if user_signed_in?%>
<br/>
<div class="table-responsive">
<table class="table  table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <!--<th>First name</th>
      <th>Last name</th>-->
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User's friend</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    
      <tr>
        <!--<td><%#= friend.first_name %></td>
        <td><%#= friend.last_name %></td>-->
        <td><%= link_to friend.first_name + ' '+friend.last_name, friend ,class:"link-info" %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user.email %></td>
        <!--<td><%= link_to 'Show', friend ,class:"btn btn-secondary"%></td>-->
        <% if friend.user == current_user %>

<td><%= link_to 'View Friend', friend ,class:"btn btn-outline-primary"%></td>
        <!--<td><%= link_to 'Edit', edit_friend_path(friend) ,class:"btn btn-secondary"%></td>-->
        <td><%= button_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%></td>
        <% else%>
        <td><%= link_to 'View Stranger', friend ,class:"btn btn-outline-secondary"%></td>
        <td></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Friend', new_friend_path , class:"btn btn-secondary"%>

<% else%>
<br/>
<h1>Friends App</h1>
<p>A project for a friend list app that uses CRUD based on Ruby on rails!</p>
<p>Login to get started!</p>
        <div class="actions">
            <%= link_to 'Log In', new_user_session_path , class:"btn btn-secondary"%>
        </div>

<%end%>