<br />
<div class="jumbotron">
    <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
    <p class="lead">
        <%= @friend.email %>
        <% if (@friend.email.present? and @friend.phone.present?) or  (@friend.email.present? and @friend.phone.present?) %>| <%end%>
        <%= @friend.phone %>
        <% if (@friend.phone.present? and @friend.twitter.present?) or  (@friend.email.present? and @friend.twitter.present?)%>| <%end%>
        <%= @friend.twitter %></p>

    <% if @friend.user == current_user %>
    <div class="alert alert-success" role="alert">
        Status: You are Friends!
    </div>



    <%else%>
    <div class="alert alert-danger" role="alert">
        Status: You are Strangers!
    </div>

    <%end%>
<% if @friend.user == current_user %>
    <br />
    <p class="lead">
    
        <%= link_to 'Edit', edit_friend_path(@friend) ,class:"btn btn-secondary" %>
        
        
        <%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%>
        
        
    </p>
    <% end %> 
</div>
<%= link_to 'Back', friends_path ,class:"btn btn-dark" %>